
.hidden {
  display: none !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: auto;
}

html {
  max-width: 480px;
  min-width: 320px;
}

body {
  width: 100%;
  font: 18px/1 sans-serif;
  padding: 0 1em;
}

a, a:visited {
  color: #000;
}

html, body,
.nav, .mast,
.login-container,
.logout-container,
.about-container,
.register-container,
.main, .messages,
.chat-input, .steam-anchor,
.twitch-anchor {
  display: flex;
  flex-direction: column;
}

.nav {
  margin: auto 0 0;
  flex-direction: row;
}

#about {
  cursor: pointer;
}

.nav.nav-centred {
  margin: auto 0;
}

.mast {
  margin: auto auto auto 0;
}

.by-line {
  text-align: right;
}

.login-container,
.logout-container,
.register-container {
  margin: auto 0 auto auto;
}

.login-container {
  margin: auto;
}

.nav-centred .mast,
.nav-centred .login-container,
.steam-anchor > *,
.twitch-anchor > * {
  margin: auto;
}

.logout-container {
  margin: auto 15px auto auto;
}

.username {
  text-align: right;
  line-height: 1.5em;
}

.user-avatar {
  margin: auto 0;
  max-width: 42px;
  max-height: 42px;
  border-radius: 6px;
}

.logout-submit {
  margin: auto 0 auto auto;
}

.main {
  margin: auto 0 0;
  display: flex;
  overflow-y: scroll;
  height: 45%;
  box-shadow: inset 0 0 1px #000;
  background-color: transparent;
  padding: 0.35em;
}

.main div {
  margin: 5px 0 0 0;
}

.about-container {
  margin: 50px auto 0 auto;
  display: flex;
  flex-direction: row;
}

.about-container button {
  width: 125px;
  margin-right: 10px;
  border: 1px solid #9f9f9f;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
}

.chat-input,
.chat-input-submit {
  margin: auto 0;
}

.chat-input-submit {
  margin: 10px 0 0 0;
  border: 1px solid #9f9f9f;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  height: 30px;
}

.message-input {
  resize: none;
  border: none;
  padding: 0.35em;
  box-shadow: inset 0 0 1px #000;
  background-color: transparent;
}

.notification-body,
.message-sender,
.message-body,
.message-timestamp {
  font-size: 12px;
  display: block;
}

.notification-body,
.message-sender,
.message-timestamp {
  display: inline-block;
}

.message-parent,
.notification-parent {
  margin-bottom: 0;
}

.notification-parent,
.message-parent {
  margin: 5px 0;
}

.lobby-controls {
  display: flex;
  flex-direction: row;
  margin: auto 0 0 0;
  align-content: flex-start;
}

.lobby-list {
  width: 215px;
  height: 150px;
  border: none;
  box-shadow: inset 0 0 1px #000;
  background-color: transparent;
}

.lobby-header {
  margin: 0 auto 10px;
}

.lobby-status,
.clients-status {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.lobby-buttons {
  display: flex;
  margin: 10px 0 0 0;
}

.lobby-button {
  width: 49%;
  height: 30px;
  margin: auto;
  border: 1px solid #9f9f9f;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
}
