
extends ./layout.jade

block title
  title deathmat.ch | home

block content

  include ./nav.jade

  div(class="lobby-controls")
    select(id="client-list", class="lobby-control lobby-list", multiple)

    div(class="lobby-status")
      select(id="lobby-players", class="lobby-list lobby-control", multiple)
      span(id="lobby-map", class="lobby-control")
      span(id="lobby-server", class="lobby-control")
      span(id="lobby-format", class="lobby-control")
      button(id="lobby-add", class="lobby-control lobby-button") !add
      button(id="lobby-rem", class="lobby-control lobby-button") !rem

  main(class="main messages")

  form(id="message-form", class="chat-input")
    textarea(id="message-input", class="message-input", rows="5", placeholder="Say something...")
    input(class="chat-input-submit", type="submit", value="Send")

  div(id="profile-container", class="hidden profile-container")

    button(id="back-to-chat") Back

    form(id="edit-desktop-notifications")
      input(type="submit", value="Enable desktop notifications")

block scripts
  script(src="/socket.io/socket.io.js")
  script(src="js/sexhr.js")
  script(src="js/app.js")
