extends ./layout.jade

block title
  title deathmat.ch | home

block content

  include ./nav.jade

  main(class="main messages")

  form(id="message-form", class="chat-input")
    textarea(id="message-input", class="message-input", rows="5", placeholder="Say something...")
    input(class="chat-input-submit", type="submit", value="Send")

  select(id="client-list", class="nav nav-centred" multiple)

block scripts
  script(src="/socket.io/socket.io.js")
  script(src="js/app.js")
