
extends ./layout.jade

block title
  title deathmat.ch | home

block content

  include ./nav.jade

  div(class="lobby-controls")

    div(class="clients-status")
      span(class="lobby-header") Chatting
      select(id="client-list", class="lobby-control lobby-list", multiple)

    div(class="lobby-status")
      span(class="lobby-header") Playing
      select(id="lobby-players", class="lobby-list lobby-control", multiple)
      div(class="lobby-buttons")
        button(id="lobby-add", class="lobby-control lobby-button") !add
        button(id="lobby-rem", class="lobby-control lobby-button") !rem

  main(class="main messages")

  form(id="message-form", class="chat-input")
    textarea(id="message-input", class="message-input", rows="5", placeholder="Say something...")
    input(class="chat-input-submit", type="submit", value="Send")

  div(id="about-container", class="hidden about-container")
    button(id="back-to-chat") Back to chat
    div
      h5 About
      span Released into the #[a(target="_blank", href="http://unlicense.org") public domain] and available at #[a(target="_blank", href="https://github.com/skibz/deathmatch") GitHub].

block scripts
  script(src="/socket.io/socket.io.js")
