doctype html
html

  head

    link(rel="stylesheet", href="css/app.css")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="description", content="Start a fight.")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    block title
      title deathmat.ch

  body

    noscript
      h3 Hmm...
      p I doubt you'll have much fun here without JavaScript enabled.

    block content

    block scripts
