
nav(class="nav nav-centred")

  //- img(src="img/logo-tiny.png", alt="")

  header(class="mast")
    h1 deathmat.ch
    h5(class="by-line") Start a fight.

  div(class="login-container")
    a(href="/auth/steam", class="steam-anchor")
      img(src="img/steam_large_black.png")

  //- div(class="login-container")
  //-   a(href="/auth/twitch", class="twitch-anchor")
  //-     img(src="img/twitch_small.png")
